<h3>Enter a Person here</h3>
<form id="addFamily">
  <input type="text" id="familyMember" placeholder="Name of Family Member">
  <input type="text" id="hostURL" placeholder="URL of image">
  <input type="text" id="description" placeholder="Description">
  <button id="addFamily">Add Person</button>
</form>
